[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/grpc"]
	path = deps/grpc
	url = https://github.com/grpc/grpc.git
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "deps/nats.c"]
	path = deps/nats.c
	url = https://github.com/nats-io/nats.c.git
